<div class="events-container">
    <h1>Our Fundraising Events</h1>
  
    <!-- <button (click)="navigateToCreateEvent()">Create New Event</button> -->
  
    <div *ngFor="let event of events" class="event-card">
      <div class="event-header">
        <img [src]="'assets/' + event.image" alt="Event Image">
        <h2>{{ event.name }}</h2>
      </div>
      <p>{{ event.description }}</p>
      <p>Date: {{ event.date }}</p>
      <p>Venue: {{ event.venue }}</p>
      <button (click)="navigateToEvent(event.id)">Learn More</button>
    </div>
  </div>
