.events-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.events-container h1 {
    text-align: center;
    color: #333;
    width: 100%;
}

.event-card {
    width: calc(30% - 20px); /* Adjust width for 3 events per row with margins */
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px; /* Decrease padding */
    transition: transform 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-card:hover {
    transform: translateY(-5px);
}

.event-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.event-card h2 {
    color: #666;
    margin-bottom: 5px;
}

.event-card p {
    color: #999;
    margin-bottom: 10px;
}

.event-card button {
    background-color: #d3b610;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.event-card button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .event-card {
        width: calc(50% - 20px); /* Adjust width for 2 events per row with margins */
    }
}
