<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2>About Us</h2>
          <p>This is a brief description of your organization and its mission.</p>
        </div>
        <div class="col-md-3">
          <h2>Quick Links</h2>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Events</a></li>
           
          </ul>
        </div>
        <div class="col-md-3">
          <h2>Contact Information</h2>
          <p>
            123 Main St.<br>
            City, State, ZIP<br>
            Phone: (123) 456-7890
          </p>
        </div>
        <div class="col-md-3">
          <h2>Subscribe</h2>
          <form #subscribeForm="ngForm" (ngSubmit)="onSubmit(subscribeForm)">
            <input type="text" id="name" name="name" placeholder="Name" ngModel required>
            <input type="email" id="email" name="email" placeholder="Email" ngModel required>
            <input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>Follow Us</h2>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <p>© 2024 TogetherWe Give. All rights reserved.</p>
        </div>
      </div>
    </div>
</footer>
