/* footer.component.css */
.footer {
    background-color: #333; /* Light grey-black */
    color: #f8f9fa; /* White-ish */
    padding: 40px 0;
    border-top: 1px solid #f8f9fa; /* White-ish */
    font-family: Arial, sans-serif; /* Modern font */
}

.container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-md-3, .col-12 {
    flex-basis: calc((100% - 60px) / 4);
    padding: 15px;
    border-right: 1px solid #f8f9fa; /* White-ish */
}

.col-md-3 h2 {
    font-weight: bold; /* Bold font for headings */
}

.col-md-3 {
    max-width: 250px;
}

.col-md-3 p {
    margin-bottom: 0;
}

.social-icons {
    display: flex;
    justify-content: space-around;
}

.social-icons a {
    color: #f8f9fa; /* White-ish */
    text-decoration: none;
}

.social-icons a:hover {
    color: #4CAF50; /* Green */
}

input[type="text"], input[type="email"] {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3); /* 3D effect */
    margin-bottom: 10px; /* Added space */
}

input[type="submit"] {
    background-color: #4CAF50; /* Green */
    color: #f8f9fa; /* White-ish */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3); /* 3D effect */
}

input[type="submit"]:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .col-md-3 {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 30px;
        border-right: none;
        border-bottom: 1px solid #f8f9fa; /* White-ish */
    }
}
