.carousel {
    margin-top: 20px; /* Add margin at the top of the carousel */
}
.carousel-item img {
    max-width: 100%;
    height: 560px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.carousel-control-prev,
.carousel-control-next {
    margin-top: -50px;
}


.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a71313;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.carousel-caption p {
    color: rgb(225, 193, 12);
    font-size: 1.7rem; /* Increase font size */
}

/* Responsive Design */
@media (max-width: 768px) {
    .carousel-item img {
        height: auto;
    }

    #carouselExampleFade {
        margin-top: 15px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        margin-top: -40px;
    }

    .carousel-caption p {
        font-size: 1rem; /* Adjust font size for smaller screens */
    }
    
}
