<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets\Designer (3).png" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <p>"Every contribution counts. Join us in our mission to uplift the lives of the underprivileged. Together, we can provide hope, opportunities, and a brighter future for those in need. Your generosity fuels our efforts to support the most vulnerable among us. Let's make a difference, one donation at a time."</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets\Designer.png" class="d-block w-100" alt="...">
            <div class="carousel-caption">
            </div> <!-- Closing tag added here -->
        </div>
        <div class="carousel-item">
            <img src="assets\Designer (1).png" class="d-block w-100" alt="...">
            <div class="carousel-caption">
            </div> <!-- Closing tag added here -->
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
