/* contact.component.css */

.contact-us {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .team-member {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .team-member h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .team-member p {
    color: #666;
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .team-member .role {
    color: #007bff; /* Blue color for the role */
    font-weight: bold;
  }
  
  .team-member .email {
    color: #28a745; /* Green color for the email */
  }
  
  .team-member .phone {
    color: #dc3545; /* Red color for the phone */
  }
  
  .team-member .bio {
    color: #6c757d; /* Gray color for the bio */
  }
  
  @media (max-width: 768px) {
    .team-member {
      padding: 15px;
    }
  
    .team-member h3 {
      font-size: 1.2em;
    }
  
    .team-member p {
      font-size: 0.9em;
    }
  }
  