<!-- contact.component.html -->
<div class="contact-us">
    <h2>Our Team</h2>
    <div *ngFor="let member of teamMembers" class="team-member">
      <h3>{{ member.name }}</h3>
      <p><strong>Role:</strong> {{ member.role }}</p>
      <p><strong>Email:</strong> {{ member.email }}</p>
      <p><strong>Phone:</strong> {{ member.phone }}</p>
      <p>{{ member.bio }}</p>
    </div>
  </div>
  