/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* Light grey background */
    color: #333; /* Default text color */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

/* Section styles */
.bordered-section {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    background-color: #f8f9fa; /* Light grey background */
    color: #333; /* Dark grey text color */
    transition: background-color 0.3s, transform 0.3s; /* Add transition effects */
    flex: 1 1 30%; /* Set each section to take 30% width */
    min-height: 200px; /* Ensure all boxes have the same height */
    position: relative; /* Position relative for heading border */
}

.bordered-section:hover {
    background-color: #e7e7e7; /* Light grey background on hover */
    transform: translateY(-5px); /* Move box up slightly on hover */
}

/* Heading styles */
h2 {
    font-family: 'Arial Black', sans-serif; /* Bold font for headings */
    color: #000; /* Black heading color */
    font-size: 24px; /* Increased font size for headings */
    border-bottom: 1px solid #ddd; /* Add border under heading */
    padding-bottom: 10px; /* Add space below heading */
}

/* Button styles */
.donate-button {
    background-color: #007bff; /* Blue button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.donate-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    
    .bordered-section {
        flex: 1 1 100%; /* Set each section to take 100% width on smaller screens */
    }
}
