<!-- app.component.html -->
<div class="container">
    <div class="row">
      <!-- Section 1 -->
      <div class="col-lg-4">
        <section class="bordered-section">
          <h2>Our Mission</h2>
          <p>Our mission is to empower underprivileged communities by providing them with the resources they need to improve their lives and achieve their potential.</p>
        </section>
      </div>
  
      <!-- Section 2 -->
      <div class="col-lg-4">
        <section class="bordered-section">
          <h2>Our Vision</h2>
          <p>We envision a world where every individual, regardless of their socio-economic background, has access to quality education, healthcare, and opportunities for growth.</p>
        </section>
      </div>
  
      <!-- Section 3 -->
      <div class="col-lg-4">
        <section class="bordered-section">
          <h2>Our Values</h2>
          <p>At our core, we value compassion, integrity, and inclusivity. We believe in the inherent worth and dignity of every person, and we are committed to creating a world where everyone is treated with respect and empathy.</p>
        </section>
      </div>
    </div>
  
    <div class="row">
      <!-- Section 4 -->
      <div class="col-lg-4">
        <section class="bordered-section">
          <h2>Our Team</h2>
          <p>Our team comprises dedicated individuals from diverse backgrounds, united by a shared passion for social impact. We bring together expertise in areas such as education, healthcare, community development, and fundraising to maximize our impact and serve those in need.</p>
        </section>
      </div>
  
      <!-- Section 5 -->
      <div class="col-lg-4">
        <section class="bordered-section">
          <h2>Our Partners</h2>
          <p>We are honored to collaborate with a network of organizations, businesses, and individuals who share our commitment to social change. Together, we leverage our collective strengths and resources to address pressing social issues and create positive change in communities worldwide.</p>
        </section>
      </div>
  
      <!-- Section 6 -->
      <div class="col-lg-4">
        <section class="bordered-section">
          <h2>Contact Us</h2>
          <p>If you would like to learn more about our work, get involved, or support our cause, please reach out to us. We welcome collaboration, feedback, and contributions from individuals and organizations who are passionate about making a difference.</p>
        </section>
      </div>
    </div>
  
    <div class="row">
      <!-- Section 7 -->
      <div class="col-lg-4">
        <section class="bordered-section">
          <h2>Success Stories</h2>
          <p>Read about the individuals and communities whose lives have been transformed through the support and resources we provide. Their stories inspire us to continue our work.</p>
        </section>
      </div>
  
      <!-- Section 8 -->
      <div class="col-lg-4">
        <section class="bordered-section">
          <h2>Donate Now</h2>
          <p>Your generous donation can make a significant difference in someone's life. Click the button below to contribute and help us in our mission.</p>
          <button class="donate-button">Donate Now</button>
        </section>
      </div>
  
      <!-- Section 9 -->
      <div class="col-lg-4">
        <section class="bordered-section">
          <h2>Volunteer With Us</h2>
          <p>Join our team of dedicated volunteers and make a direct impact in your community. Whether you can give a few hours a week or a few days a month, your time and talents can make a real difference.</p>
        </section>
      </div>
    </div>
  </div>
  