.navbar-nav .nav-link {
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    font-size: 16px;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: #000;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #333;
    transition: width 0.3s;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.navbar-nav .nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand img.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar-toggler {
    border: none;
}
.navbar {
    position: fixed; /* Set navbar to fixed position */
    top: 0; /* Align navbar to the top */
    width: 100%; /* Make navbar full width */
    display: flex; /* Use flexbox for navbar items */
    justify-content: space-between; /* Align items at the beginning and end of the container */
    align-items: center; /* Align items vertically */
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px; /* Add padding to navbar */
    z-index: 1000; /* Set a higher z-index to ensure navbar is above other content */
}

.navbar-nav {
    display: flex; /* Use flexbox for navbar items */
    list-style-type: none; /* Remove default list styles */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.navbar-nav .nav-item {
    margin-right: 15px; /* Add spacing between navbar items */
}

.navbar-brand img.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.navbar-toggler {
    border: none;
    background: none; /* Remove background color */
    padding: 0; /* Remove default padding */
}

.navbar-toggler-icon {
    background-color: #333; /* Set color for toggler icon */
    width: 24px; /* Set width for toggler icon */
    height: 2px; /* Set height for toggler icon */
    display: block; /* Ensure toggler icon is displayed as block element */
}

