<!-- about.component.html -->
<div class="about-container">
    <h1>About Us</h1>
  
    <section class="mission bordered-section">
      <h2>Our Mission</h2>
      <p>{{ mission }}</p>
    </section>
  
    <section class="story bordered-section">
      <h2>Our Story</h2>
      <p>{{ story }}</p>
    </section>
  
    <section class="team bordered-section">
      <h2>Our Team</h2>
      <p>{{ team }}</p>
    </section>
  
    <section class="impact bordered-section">
      <h2>Our Impact</h2>
      <p>{{ impact }}</p>
    </section>
  
    <section class="join-us bordered-section">
      <h2>Join Us</h2>
      <p>{{ joinUs }}</p>
    </section>
  </div>
  