/* about.component.css */
.about-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .about-container h1 {
    text-align: center;
    color: #333;
  }
  
  .bordered-section {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    color: #333;
    transition: all 0.3s ease;
    transform: perspective(1px) translateZ(0);
  }
  
  .bordered-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .bordered-section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .bordered-section p {
    color: #666;
    font-size: 16px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .about-container {
      padding: 15px;
    }
  
    .about-container h1 {
      font-size: 24px;
    }
  
    .bordered-section {
      padding: 15px;
      margin-bottom: 15px;
    }
  
    .bordered-section h2 {
      font-size: 20px;
    }
  
    .bordered-section p {
      font-size: 14px;
    }
  }
  